name: Run Autify Web Test

on:
  workflow_dispatch:  # 手動でトリガーするためのイベント

jobs:
  run-autify-test:
    runs-on: ubuntu-latest

    steps:
      # リポジトリのコードをチェックアウト
      - name: Checkout code
        uses: actions/checkout@v2

      # Autify for Webテストを実行する
      - name: Run Autify Web Test
        uses: autifyhq/actions-web-test-run@v2
        with:
          access-token: ${{ secrets.AUTIFY_WEB_ACCESS_TOKEN }}  # AutifyのAPIトークンをGitHub Secretsに設定
          autify-test-url: https://app.autify.com/projects/111/test_plans/887376  # 実行するシナリオのURL
          wait: true  # テストが終了するまで待機
          timeout: 300  # 5分でタイムアウトする設定


      - name: Extract Test Result URL and Notify Slack
        if: ${{ failure() }}  # テストが失敗した場合のみ実行
        run: |
          # エラーメッセージからURLを抽出
          ERROR_LOG=$(cat $GITHUB_STEP_SUMMARY)  # エラーメッセージをキャプチャ
          TEST_RESULT_URL=$(echo "$ERROR_LOG" | grep -oP "https://app\.autify\.com/projects/\d+/results/\d+")
          TEST_PLAN_NAME=$(echo "$ERROR_LOG" | grep -oP '"name":"([^"]+)"' | head -n 1 | sed 's/"name":"//g' | sed 's/"//g')

          # 抽出した情報を表示
          echo "Extracted URL: $TEST_RESULT_URL"
          echo "Extracted Test Plan Name: $TEST_PLAN_NAME"

          # Slack通知
          curl -X POST -H 'Content-type: application/json' --data '{"text":"Autify Test Failed for Test Plan: '"$TEST_PLAN_NAME"'. Please check the results at: '"$TEST_RESULT_URL"'"}' ${{ secrets.SLACK_WEBHOOK_URL }}
